<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <h4>Tipos de tickets</h4>
      </div>
      <div align="right" class="col-md-9">
        <%= link_to "Novo tipo de ticket", new_ticket_type_path, class: "btn btn-default" %> 
      </div>
    </div>
  </div>
</div>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @ticket_types.each do |ticket_type| %>
      <tr>
        <td><%= ticket_type.name %></td>
        <td align="right"><%= link_to 'Editar', edit_ticket_type_path(ticket_type), class: 'btn btn-success btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
